
body {
    margin: 0;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

input {
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    box-sizing: border-box; /*importent -- ajest the input width to proper size to fit the browser window*/
    border: 1px solid #5f9341;
    margin-bottom: 5px;
}

button {
    padding: 10px 20px;
    color: white;
    background: #5f9341;
    border: none;
    font-weight: bold;
}

    button:hover {
        opacity: 0.9;
    }

    button:active {
        color: black;
        background: white;
    }